/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
    /* width: 80%; */
    background: red;
    margin: 20;
    /* max-width: 1000px; */
  }
  
  /* h1 {
      font-family: 'Roboto', sans-serif;
  } */
  
  
  
  
  
  
  
  /* * * * * * * * * * * * * * * * * * * * *
  Header
  * * * * * * * * * * * * * * * * * * * * */
  header {
      height: 200px;
      /* background: #ffffff; */
      background: white;

  }
  
  header .container {
      display: block;
  
  }
  
  .logo {
      width: 100px;
      color: #254454;
      /* color: #542e25; */
      margin: 0 auto;
  }
  
  .logo span {
      margin-left: 10px;
  }
  
  header ul {
      margin-bottom: 0;
      display: flex;

  }
  
  header ul li {
      list-style: none;
    align-items: center;
  }
  
  header ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
      height: 66px;
      font-size: 26px;
      /* padding: 0 20px; */
      display: flex;
      align-items: center;
      text-transform: uppercase;
      /* color: #254454; */
      color: #542e25;

  }
  
  header ul li a:hover {
      background: #543a25;;
      text-decoration: none;
      /* font-weight: bold; */
      /* color: #254454; */
      /* color: #543a25; */
  }
  
  
  /* * * * * * * * * * * * * * * * * * * * *
  Hero
  * * * * * * * * * * * * * * * * * * * * */
.hero {
    width: 100%;
    height: 300px;
    background: #ddd;
}

img {
    width: 100%;
}
  
  
  
  
  /* * * * * * * * * * * * * * * * * * * * *
  Main
  * * * * * * * * * * * * * * * * * * * * */
  main {
      height: 400px;
      padding: 80px 0;
      background: rgb(240, 240, 240)
  }
  
  
  /* * * * * * * * * * * * * * * * * * * * *
  Footer
  * * * * * * * * * * * * * * * * * * * * */
  footer {
      height: 100px;
      background: rgb(15, 15, 15);
      color: white;
      text-align: right;
  }